@import (less) "node_modules/powerbi-visuals-utils-formattingutils/lib/index.css";
@import (less) "node_modules/powerbi-visuals-utils-interactivityutils/lib/index.css";
@import (less) "node_modules/powerbi-visuals-utils-chartutils/lib/index.css";
@import (less) "node_modules/bootstrap/dist/css/bootstrap.css";

.violinPlotContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.violinPlotCanvas {
    position: absolute;
}

svg:not(:root) {
    overflow: hidden;
}

.icon {
    width: 16px;
    height: 16px;
}

/* This can be removed when we've migrated the fetchMoreData work */
.violinPlotError {
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: "Segoe UI", wf_segoe-ui_semibold, helvetica, arial, sans-serif;
    background-color: #f4f4f4;
    display: table-cell;
    line-height: normal;
    vertical-align: middle;
    font-size: 12px;
}

.condensedWarning { 
    fill: #33669a;
}

.violinPlotViolin {
    font-size: 0;
}

.grid .tick {
    stroke-opacity: 1;
}

.grid path {
    stroke-width: 0;
}

line.customLegendIcon.median.dotted, line.customLegendIcon.median.dashed, line.customLegendIcon.median.dotdash,
line.customLegendIcon.quartile1.dotted, line.customLegendIcon.quartile1.dashed, line.customLegendIcon.quartile1.dotdash,
line.customLegendIcon.quartile3.dotted, line.customLegendIcon.quartile3.dashed, line.customLegendIcon.quartile3.dotdash,
line.customLegendIcon.quartilesCombined.dotted, line.customLegendIcon.quartilesCombined.dashed, line.customLegendIcon.quartilesCombined.dotdash {
    stroke-dasharray: 1, 2;
}

.grid .tick line.dashed, line.median.dashed, line.quartile1.dashed, line.quartile3.dashed {
    stroke-dasharray: 5, 5;
}

.grid .tick line.dotted, line.median.dotted, line.quartile1.dotted, line.quartile3.dotted {
    stroke-dasharray: 1, 5;
}

.grid .tick line.dotdash, line.median.dotdash, line.quartile1.dotdash, line.quartile3.dotdash {
    stroke-dasharray: 5, 5, 1, 5;
}

.yAxis path, .xAxis path {
    fill: none;
}

/** This prevents fuzzing of the text if we have gridlines */
.yAxis .tick text {
    stroke: none
}

.violinPlotComboPlotOverlay {
    fill: none;
    pointer-events: all;
}